<img id="background" [src]="artist.background">
<div class="container" style="width:70%">
    <div id="mainContainer" style="overflow-y : auto; overflow-x: hidden;" >
        <div class="row">
            <div class="col-6"  style="margin-bottom: 10vh;padding-left : 6vw;display:flex;justify-content: center;align-items: center;">
                <app-display-album [album]="album"></app-display-album>
                <div class="btn-group" style="margin-left: -1vw;">
                    <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item dropdown"  href="#">Buy Album</a>
                        <a class="dropdown-item dropdown"  [routerLink]="['/Home/UpdateAlbum/',album.ref]">Update Album</a>
                        <a class="dropdown-item dropdown"  [routerLink]="['/Home/AddMusic/',album.ref]">Add Music</a>
                        <a class="dropdown-item dropdown"  [routerLink]="['/Home/Artist/',artist.ref]" (click)="this.service.deleteAlbum(artist,album)">Delete Album</a>
                    </div>
                </div> 
            </div>
            <div class="col-6" style="font-size:1.5rem;">
                <p>Ref : {{album.ref}}</p>
                <p>Name : {{album.name}}</p>
                <p>Artist : {{artist.name}}</p>
                <p>Release Date : {{album.releaseDate|date}}</p>
                <p>Songs : {{music.length}}</p>
                <p>Price : {{album.price|currency}}</p>
            </div>
        </div>
        <div class="musicContainer">
            <ul class="list-group">
                <ng-container *ngFor="let m of music">
                    <li class="list-group-item">
                        <div id="cardContainer">
                            <app-display-music [music]="m" [placement]="placement"></app-display-music>
                            <span style="margin-top: 5vh;">{{m.name}}</span>
                            <span style="margin-top: 5vh;margin-left: 1vw;">{{m.duration}}</span>
                        </div>
                        
                        <div id="actions">
                            <span>{{m.price|currency}}</span>
                            <a (click)="onAddPlaylist()"><i class="fas fa-heart"></i></a>
                            <a (click)="onBuy()"><i class="fas fa-shopping-cart"></i></a>
                            <a [routerLink]="['/Home/UpdateMusic/',m.ref]"><i class="fas fa-cog"></i></a>
                            <a (click)="this.service.deleteMusic(album,m)"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
