#background{
    height : 100vh;
    width : 100vw;
    position: fixed;
    top : 0;
    left: 0;
    pointer-events: none;
    z-index: -2;
    background-repeat: no-repeat;
}
#mainContainer
{
    height : 95vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    margin-top : 2.5vh;
    backdrop-filter: blur(20px);
    margin-bottom : 2.5vh;
    border-radius: 20px;
    position : relative;
    background-color: rgba(0,0,0,0.6);
    background-attachment: fixed;
}
.row
{
    display : flex;
    justify-content: center;
    align-items: center;
}
p,span{
    font-weight : 200;
    color : rgb(182, 182, 182);
    text-shadow:1px 1px black ;
}
.list-group-item{
    background-color: rgba(0, 0, 0, 0);
    display : flex;
    align-items: center;
    border-top : 1px solid;
    border-bottom : 1px solid;
    height : 6vw;
    
}
#cardContainer{
    position :relative;
    padding-bottom : 5vh;
    flex:2;
    display : flex;
    align-items: center;
}
i{
    color : white;
    transition : all 0.2s ease;
    margin-left : 1vw;
    margin-right : 1vw;
    
}
.dropdown-menu{
    background-color: rgb(39, 39, 39);
    text-shadow: 1px 1px black;
}
.dropdown{
    color : rgb(182, 182, 182);
}
.dropdown:hover
{
    background-color : rgb(63, 63, 63);
    color : white;
}
li{
    display : flex;
    align-items: center;
}
#actions
{
    display : flex;
}
i:hover{
    font-size : 1.2rem;
}
