<div class="container-fluid">
<nav class="navbar navbar-expand-sm  fixed-top" style="position:-webkit-sticky">
    <ul id="HomeNav" class="navbar-nav" style="margin-left:36vw;margin-top : 0">
            <li class="nav-item">
              <a class="nav-link" href="#Artists">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Albums">Albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Music">Music</a>
            </li>
    </ul>
</nav>
    
    <img class="img-fluid" id="background" src="../assets/Background.jpg"/>

    <div id="Artists" style="margin-top : 25vh;">
        <ng-container *ngFor="let t of listArtists;let indice=index">
            <app-display-artist [artist]="t" style="float :left"></app-display-artist>
        </ng-container>
        <div class="card">
              <a href="#"><img src="../assets/Add.png" width="100vw"></a>
        </div>
    </div>
    
    <div id="Albums" style="margin-top : 25vh;">
      <ng-container *ngFor="let t of listAlbums;let indice=index">
          <app-display-artist [artist]="t" style="float :left"></app-display-artist>
      </ng-container>
      <div class="card">
            <a href="#"><img src="../assets/Add.png" width="100vw"></a>
      </div>
  </div>
    <div id="Music"></div>
</div>
