/*blue #10316b  yellow #FCE77D pink #F96167 */
#menuBtn{
    z-index: +6;
    position : fixed;
    border : 2px solid #10316b;
    padding : 0.85%;
    width : 4.5vw;
    height : 4.5vw;
    left : 3vw;
    top : 4.9vh;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#menuBtn:hover{
    cursor: pointer;
    font-size: 2.5rem;
}
hr{
    width : 40%;
    border-style: inset;
    margin : 0.2vh;
    border: 2px solid #10316b;
    transition :width 0.3s ease; 
}
#closeBtn{
    user-select: none;
    font-family: sans-serif;
    color : #10316b;
    transition: transform 0.5s ease;
}
#menu
{
    top : 0;
    left : 0;
    position : fixed;
    height: 100vh;
    width : 30vw;
    background-color: rgba(0,0,0,0.9);
    transition : width 0.5s ease;
    display : flex;
    z-index: +5;
    overflow: hidden;
}

.interface{
    color : #FCE77D;
    font-size: 2rem;
    margin : 1vw;
    transition : all 0.5s ease; 
    font-family :unset;
    padding : 0;
    margin: 0.8vh;
    display: flex;
    flex-wrap: nowrap;
    
}
.interface:hover{
    font-size: 2.3rem;
    text-decoration: line-through;
    transition-delay: 0s;
    
}
@font-face{
    font-family: Menu;
    src : url(/assets/MenuFont.otf);
}

#innerMenu{
    position: relative;
    top : 32%;
    left : 10%;
    display: flex;
    flex-wrap: nowrap;
}
#logo{
    z-index : +6;
    transform: scale(0.6);
    margin-left: 4vw;
    margin-top: 1.5vh;
}
#Menu
{
    display : flex;
    justify-content: center;
}
@media screen and (max-width : 520px){
   
    #menuBtn
    {
       left : 40%;
    }
    .interface
    {
        font-size: 150%;
    }
}
.active{
    font-size: 2.3rem;
    text-decoration: line-through;
}
#logoContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width : 30  vw;
    height: 15vh;
    position: absolute;
}