img {
    width : 100%;
    height : auto;
    transition : opacity 0.5s ease;

}
.card{
    width:344px;
    height : 410px;
    background-color : rgb(32, 32, 32);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : rgb(219, 208, 208);
    box-shadow :0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    transition: all 2 ease;  
}
.card:hover img{
    opacity : 0.5;
}