<img id="wallpaper" src="../assets/AddAlbum2.jpg">
<div id="mainContainer">
    <div id="secondaryContainer">
        <div id="formContainer" style="overflow-y: auto;">
            <div id="title">Add Album</div>
            <form #f="ngForm" (ngSubmit)="onAddAlbum(f)">
                <input class="form-control" type="number" id="ref" name="ref"  placeholder="Identification" #ref="ngModel" required ngModel>
                <div *ngIf="ref.touched&&ref.invalid" class="invalid">Identification is required</div>
                <div *ngIf="ref.dirty&&findReference(ref.value)" class="invalid">Reference already exists</div>
                <br/>
                <input class="form-control" type="text" id="name" name="name"  placeholder="Name" #name="ngModel" required ngModel>
                <div *ngIf="name.touched&&name.invalid" class="invalid">Name is required</div>
                <br/>
                <input class="form-control" type="date" id="releaseDate" name="releaseDate" #releaseDate="ngModel" required  ngModel>
                <div *ngIf="releaseDate.touched&&releaseDate.invalid" class="invalid">Release Date is required</div>
                <br/>
                <div id="price">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customPriceSwitch" [(ngModel)]="check"  name="customPriceCheck" ngModel>
                        <label class="custom-control-label" for="customPriceSwitch" ></label>
                    </div>
                    <input type="number" class="form-control" id="priceInput" name="priceInput" [disabled]="!check" placeholder="Custom Price" ngModel>
                </div>
                <br/>
            <div id="photo">
               <label for="photoInput">
                   <div class="photoInputContainer">
                       <div class="photoContainer">CHOOSE FILE</div>
                       <div><input type="text" class="photoName" placeholder="Input Photo From Assets" name="photoName" [(ngModel)]="photo" disabled></div>
                   </div>
                </label>
                <input type="file" class="photoInput1" id="photoInput" name="photo" (input)="onInputPhoto($event)"/>
            </div>
            <br/>
            <div id="photo">
               <label for="recordPhotoInput">
                   <div class="photoInputContainer">
                       <div class="photoContainer">CHOOSE FILE</div>
                       <div><input type="text" class="photoName" placeholder="Input Record Photo From Assets" name="recordPhotoName" [(ngModel)]="recordPhoto" disabled></div>
                   </div>
                </label>
                <input type="file" class="photoInput1" id="recordPhotoInput" name="recordPhoto" (input)="onInputRecordPhoto($event)"/>
            </div>
            <br/>
            
            <div id="submitBtns">
                <button type="submit" [disabled]="f.invalid||findReference(ref.value)" id="submit">Add Album</button>
                <input type="reset" id="reset" value="Reset">
            </div>
            </form>
        </div>
        <div id="logosContainer">
            <div id="img1"><img src="../assets/AddAlbum1.png"></div>
        </div>
    </div>
</div>
