<div>
<div class="container" style="width:70%;overflow: auto;">
    <img class="img-fluid" id="background" [src]="artist.background"/> 
    <div id="profile">
        <img id="profilePic" [src]="artist.profilePhoto">
        <div id="nameContainer">
            <p id="name">{{artist.name}}</p>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/Home/AddAlbum',artist.ref]">Add Album</a>
                <a class="dropdown-item" href="#">Delete Artist</a>
            </div>
        </div>   
        </div>  
    </div>
</div>

<div class="container" id="albumsContainer" style="width:70%">
    <h1>Albums : </h1>
    <div id="albums" style="width : 100%;">
      
          <ng-container *ngFor="let t of artist.albums">
              <app-display-album [album]="t"></app-display-album>
          </ng-container>
      
    </div>
</div>
</div>
