#wallpaper{
    width : 100vw;
    height : 100vh;
    z-index: -2;
    position: absolute;
}
#mainContainer
{
    width : 100vw;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#searchContainer
{
    display :flex;
    justify-content: center;
    align-items: center;
}
#searchBar
{
    width : 50vw;
    height : 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 5px 0 rgba(0, 0, 0, 0.9);
    background-color: white;
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: comic sans ms;
    font-size: 1.7rem;    
}
h1{
    color : white;
    text-shadow: 3px 3px rgb(202, 131, 50);
    margin-right: 5vw;
}
#search
{
    margin-left : 2vw;
    color : white;
    text-shadow: 3px 3px rgb(202, 131, 50);
}