
<div id="mainContainer">
        <img src="../assets/AddMusic.jpg">
        <div id="formContainer">
            <div id="title">Add Music</div>
            <form #f="ngForm" (submit)="onAddMusic(f)">
                <input type="number" class="form-control" name="ref" placeholder="Identification" ngModel>
                <br/>
                <input type="text" class="form-control" name="name" placeholder="Name" ngModel>
                <br/>
                <input type="text" class="form-control" name="duration" placeholder="Duration Ex:  3:25" ngModel>
                <br/>
                <div id="price">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="priceCheck" style="width : 2vw" name="priceCheck" [(ngModel)]="check" class="custom-control-input" ngModel>
                        <label class="custom-control-label" for="priceCheck"></label>
                    </div>
                    <input style="width : 16vw;margin-left: 2vw;background-color: rgba(0,0,0,0);" class="form-control" type="number" name="customPrice" placeholder="Custom Price" [disabled]="!check" ngModel>
                </div>
                <br/>
                <div id="photo">
                    <label for="photoInput">
                        <div class="photoInputContainer">
                            <div class="photoContainer">CHOOSE FILE</div>
                            <div><input type="text" class="photoName" placeholder="Input Photo" name="photoName" [(ngModel)]="photo" disabled></div>
                        </div>
                    </label>
                    <input type="file" class="photoInput1" id="photoInput" name="photo" (input)="onInputPhoto($event)"/>
                </div>
                <br/>
                <div id="submitBtns">
                    <button type="submit" id="submit">Add Music</button>
                    <input type="reset" id="reset" value="Reset">
                </div>
            </form>
        </div>
</div>
